<div class="section-header">
	<ol class="breadcrumb">
		<li>[[titulo]]</li>
		<li class="active">[[subtitulo]]</li>
	</ol>
</div>

<div class="section-body">
	<div class="row">
		<div class="col-md-6">
			<form class="form" role="form" name='frm' id='frm'>
				<div class="card card-outlined style-primary">
					<div class="card-head">
						<header><i class="fa fa-puzzle-piece"></i> Formulario de prueba</header>
					</div>
					<div class="card-body">
						<div class="form-group floating-label">
							<input type="text" class="form-control" id="myInput" name='campo1' >
							<label for="myInput" class="col-sm-3 control-label">Numero a calcular</label>
						</div>
						<div class="form-group floating-label">
							<input type="text" class="form-control" id="myInput2" name='campo2'>
							<label for="myInput2" class="col-sm-3 control-label">Valor calculado</label>
						</div>
					</div>
					<div class='card-actionbar'>
						<div class='card-actionbar-row'>
							<button type="button" class="btn btn-success" id='myBoton'><i class="fa fa-beer" ></i> Calcular campo 2</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
